*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}

body{
    margin: 0;
    padding: 0;
    background: url(https://fondosmil.com/fondo/23242.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif; 
}
h1{
    color:aquamarine; 
    font-size: 4am;
    text-align: center;
    font-size: 5am;
    font-family: cursive;
}
h3{
    color:rgb(248, 175, 255); 
    font-family:cursive;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
    text-align: left;

}
p{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
    text-align: center;
}
li{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
    text-align: left;
}
.TID {
display: flex;
justify-content: center;
align-items: center;
}
a {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(188, 255, 238);
    text-align: left;
}
table{
    background-color: rgb(214, 242, 255);
}
td{
   background-color: rgb(255, 235, 255); 
   
}
th{
    background-color: rgb(224, 255, 251);
}
.alineacion1{
    margin-left: 30px;
}
.alineacion{
    margin-left: 20px;
    margin-right: 20px;
}
#cloud-pic {
    width: 310px;
    float: left;
    margin-bottom: 6px;
    margin-left: 20px;
    margin-right: 20px;
    }
.uniquito{
    font-size: 2.5em;
}
#official-info {
    background: rgba(4, 58, 119, 0.747);
    width: 30%;
    float: right;
    margin-bottom: 6px;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 10px;
    margin-right: 200px;
    }